## This jupyter notebook is aim to clean the leavetime tables and merge with the distance table, then build some new features:
1.pre_stop : the previous stopid 
2.diff_prog: After reordering the progrnumber on each trip. diff each row. the possible value will be
    1.0

In [141]:
import pandas as pd
import numpy as np
import re
import geopy
from geopy.distance import vincenty
import matplotlib.pyplot as plt

In [142]:
# Change txt file for specific route for 2016
# Some issue occurs in the procedure where reads txt file, which demands give the specific column name.
leavetimes_16 = pd.read_csv("leavetimes_2016_145.txt", sep=';',
                  names = ["dayofservice", "tripID", "progrnumber", "stoppointid","plannedtime_arr", "plannedtime_dep","actualtime_arr","actualtime_dep","suppressed","justificationid","note"])
leavetimes_16.head()

,dayofservice,tripID,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,suppressed,justificationid,note
0,31-MAR-16 00:00:00,2896014,66,4175,65040,65040,64992,65004,NaN,NaN,NaN
1,31-MAR-16 00:00:00,2896015,53,773,69003,69003,68981,69009,NaN,NaN,NaN
2,31-MAR-16 00:00:00,2896015,58,906,69300,69300,69244,69273,NaN,NaN,NaN
3,31-MAR-16 00:00:00,2896015,63,792,69732,69732,69749,69796,NaN,NaN,NaN
4,29-FEB-16 00:00:00,2890938,13,847,42858,42858,42928,42956,NaN,NaN,NaN

In [143]:
# Change txt file for specific route for 2017
leavetimes_17 = pd.read_csv("leavetimes_2017_145.txt", sep=';',
                  names = ["dayofservice", "tripID", "progrnumber", "stoppointid","plannedtime_arr", "plannedtime_dep","actualtime_arr","actualtime_dep","suppressed","justificationid","note"])

In [144]:
leavetimes_17.head()

,dayofservice,tripID,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,suppressed,justificationid,note
0,27-MAR-17 00:00:00,4529324,1,4320,65400,65400,65330,65330,NaN,NaN,NaN
1,27-MAR-17 00:00:00,4529324,5,1479,65900,65900,65808,65836,NaN,NaN,NaN
2,27-MAR-17 00:00:00,4529324,10,842,66907,66907,66585,66607,NaN,NaN,NaN
3,27-MAR-17 00:00:00,4529324,15,2795,67326,67326,66929,66980,NaN,NaN,NaN
4,27-MAR-17 00:00:00,4519771,56,4129,40333,40333,39989,39989,NaN,NaN,NaN

In [145]:
# concanate the table of year 16 and 17
leavetimes = pd.concat([leavetimes_16,leavetimes_17])

In [146]:
leavetimes.head()

,dayofservice,tripID,progrnumber,stoppointid,plannedtime_arr,plannedtime_dep,actualtime_arr,actualtime_dep,suppressed,justificationid,note
0,31-MAR-16 00:00:00,2896014,66,4175,65040,65040,64992,65004,NaN,NaN,NaN
1,31-MAR-16 00:00:00,2896015,53,773,69003,69003,68981,69009,NaN,NaN,NaN
2,31-MAR-16 00:00:00,2896015,58,906,69300,69300,69244,69273,NaN,NaN,NaN
3,31-MAR-16 00:00:00,2896015,63,792,69732,69732,69749,69796,NaN,NaN,NaN
4,29-FEB-16 00:00:00,2890938,13,847,42858,42858,42928,42956,NaN,NaN,NaN

In [147]:
leavetimes.dtypes

dayofservice        object
tripID               int64
progrnumber          int64
stoppointid          int64
plannedtime_arr      int64
plannedtime_dep      int64
actualtime_arr       int64
actualtime_dep       int64
suppressed         float64
justificationid    float64
note               float64
dtype: object

In [148]:
leavetimes.notnull().mean()

dayofservice       1.000000
tripID             1.000000
progrnumber        1.000000
stoppointid        1.000000
plannedtime_arr    1.000000
plannedtime_dep    1.000000
actualtime_arr     1.000000
actualtime_dep     1.000000
suppressed         0.018597
justificationid    0.018597
note               0.000000
dtype: float64

In [149]:
leavetimes.rename(columns={"plannedtime_arr":"plannedtime_arr_stop","plannedtime_dep":"plannedtime_dep_stop","actualtime_arr":"actualtime_arr_stop","actualtime_dep":"actualtime_dep_stop","suppressed":"suppressed_stop","justificationid":"justificationid_stop"},inplace=True)

In [150]:
# drop all the rows which marked abnormal behaivour
leavetimes = leavetimes[~pd.notnull(leavetimes['suppressed_stop'])]

In [151]:
leavetimes.notnull().mean()

dayofservice            1.0
tripID                  1.0
progrnumber             1.0
stoppointid             1.0
plannedtime_arr_stop    1.0
plannedtime_dep_stop    1.0
actualtime_arr_stop     1.0
actualtime_dep_stop     1.0
suppressed_stop         0.0
justificationid_stop    0.0
note                    0.0
dtype: float64

In [152]:
# All null, So drop the note column
leavetimes = leavetimes.drop(['note','suppressed_stop','justificationid_stop'], axis=1)

In [153]:
leavetimes.head()

,dayofservice,tripID,progrnumber,stoppointid,plannedtime_arr_stop,plannedtime_dep_stop,actualtime_arr_stop,actualtime_dep_stop
0,31-MAR-16 00:00:00,2896014,66,4175,65040,65040,64992,65004
1,31-MAR-16 00:00:00,2896015,53,773,69003,69003,68981,69009
2,31-MAR-16 00:00:00,2896015,58,906,69300,69300,69244,69273
3,31-MAR-16 00:00:00,2896015,63,792,69732,69732,69749,69796
4,29-FEB-16 00:00:00,2890938,13,847,42858,42858,42928,42956

In [154]:
leavetimes["new_prog"]=leavetimes["progrnumber"]
leavetimes = leavetimes.sort_values(['progrnumber'],ascending=True)
leavetimes.head()

,dayofservice,tripID,progrnumber,stoppointid,plannedtime_arr_stop,plannedtime_dep_stop,actualtime_arr_stop,actualtime_dep_stop,new_prog
751305,26-APR-17 00:00:00,4608723,1,4320,51600,51600,51550,51550,1
206590,03-MAY-16 00:00:00,3024892,1,7574,54000,54000,54130,54130,1
206592,03-MAY-16 00:00:00,3028468,1,7574,55800,55800,55790,55790,1
206593,03-MAY-16 00:00:00,3020643,1,7574,55200,55200,55134,55134,1
206594,03-MAY-16 00:00:00,3034330,1,7574,69600,69600,69597,69597,1

In [155]:
leavetimes["next_stop"] = leavetimes.groupby(["tripID","dayofservice"])["stoppointid"].shift()

In [156]:
leavetimes["diff_prog"] = leavetimes.groupby(["tripID","dayofservice"])["new_prog"].transform(pd.Series.diff)

In [157]:
leavetimes["diff_planned_arr_stop"] = leavetimes.groupby(["tripID","dayofservice"])["plannedtime_arr_stop"].transform(pd.Series.diff)
leavetimes["diff_actual_arr_stop"] = leavetimes.groupby(["tripID","dayofservice"])["actualtime_arr_stop"].transform(pd.Series.diff)

In [158]:
leavetimes = leavetimes.sort_values(['plannedtime_arr_stop'],ascending=True)
leavetimes["diff_planned_next_stop_time"] = leavetimes.groupby(["stoppointid","dayofservice"])["plannedtime_arr_stop"].transform(pd.Series.diff)

In [159]:
leavetimes['diff_prog'].unique()

array([nan,  1.,  2.,  3., 17., 22., 12.,  7.,  5., 10.,  4., 11.,  6.,
       16.,  8., 27., 13., 33., 15.,  9., 31., 18., 14., 23., 30., 35.,
       19., 36., 28., 20., 53., 29., 54., 39., 32., 44., 25., 34., 60.,
       43., 49., 21., 37., 24., 51., 38., 48., 26., 56., 42., 46., 47.,
       52., 50., 59., 45., 40., 55., 41., 68., 62., 58., 57., 71., 64.,
       69., 61.])

In [160]:
leavetimes['next_stop'].isnull().sum()

47450

In [161]:
leavetimes['diff_prog'].value_counts(normalize = True).head(5)

1.0    0.987566
2.0    0.007021
5.0    0.001177
3.0    0.001099
4.0    0.000633
Name: diff_prog, dtype: float64

In [162]:
leavetimes = leavetimes[(leavetimes["diff_prog"] == 1.0) | leavetimes["diff_prog"].isnull()]
leavetimes["diff_prog"].unique()

array([nan,  1.])

In [163]:
leavetimes['diff_prog'].isnull().sum()

47450

In [164]:
leavetimes["diff_planned_arr_stop"].isnull().sum()

47450

In [165]:
leavetimes[leavetimes["progrnumber"] == 1]["stoppointid"].unique()

array([7574, 4320, 4151, 4533, 4202, 2060,  768,  760,  767,  773,  334],
      dtype=int64)

In [166]:
leavetimes[leavetimes["progrnumber"] == 1]["next_stop"].unique()

array([nan])

In [167]:
leavetimes[leavetimes["progrnumber"] == 2]["next_stop"].unique()

array([  nan, 7574., 4320., 4151., 4533., 4202., 2060.,  768.,  760.,
        767.,  773.,  334.])

In [168]:
leavetimes.sample(10)

,dayofservice,tripID,progrnumber,stoppointid,plannedtime_arr_stop,plannedtime_dep_stop,actualtime_arr_stop,actualtime_dep_stop,new_prog,next_stop,diff_prog,diff_planned_arr_stop,diff_actual_arr_stop,diff_planned_next_stop_time
309051,13-APR-17 00:00:00,4588545,30,4571,78928,78928,79179,79208,30,7353.0,1.0,101.0,112.0,1200.0
1084112,15-APR-16 00:00:00,3005609,20,7362,58060,58060,57625,57642,20,7361.0,1.0,138.0,86.0,228.0
1209976,12-FEB-16 00:00:00,2821773,20,4205,44992,44992,45119,45119,20,4204.0,1.0,12.0,9.0,600.0
45294,16-MAY-16 00:00:00,3032201,13,4154,41667,41667,41878,41912,13,4153.0,1.0,100.0,107.0,600.0
88558,19-FEB-17 00:00:00,4382320,29,7353,52284,52284,52251,52251,29,435.0,1.0,38.0,22.0,1200.0
990167,24-FEB-16 00:00:00,2862411,15,4201,70440,70440,70456,70472,15,4416.0,1.0,62.0,64.0,600.0
711440,09-MAY-16 00:00:00,3028464,38,2063,33524,33524,33673,33688,38,2062.0,1.0,53.0,42.0,600.0
404495,28-MAY-16 00:00:00,3045443,9,4182,63729,63729,63505,63505,9,4181.0,1.0,215.0,49.0,2803.0
761906,21-MAR-17 00:00:00,4503055,47,2084,78753,78753,78692,78692,47,2070.0,1.0,45.0,72.0,1200.0
550941,10-APR-17 00:00:00,4584154,5,1479,28690,28690,28569,28587,5,1478.0,1.0,92.0,62.0,600.0

In [169]:
leavetimes.dtypes

dayofservice                    object
tripID                           int64
progrnumber                      int64
stoppointid                      int64
plannedtime_arr_stop             int64
plannedtime_dep_stop             int64
actualtime_arr_stop              int64
actualtime_dep_stop              int64
new_prog                         int64
next_stop                      float64
diff_prog                      float64
diff_planned_arr_stop          float64
diff_actual_arr_stop           float64
diff_planned_next_stop_time    float64
dtype: object

In [170]:
leavetimes["pre_stop"] = leavetimes["next_stop"].astype("object")
leavetimes["now_stop"] = leavetimes["stoppointid"].astype("object")

In [171]:
leavetimes.dtypes

dayofservice                    object
tripID                           int64
progrnumber                      int64
stoppointid                      int64
plannedtime_arr_stop             int64
plannedtime_dep_stop             int64
actualtime_arr_stop              int64
actualtime_dep_stop              int64
new_prog                         int64
next_stop                      float64
diff_prog                      float64
diff_planned_arr_stop          float64
diff_actual_arr_stop           float64
diff_planned_next_stop_time    float64
pre_stop                        object
now_stop                        object
dtype: object

In [172]:
leavetimes.sample(10)

,dayofservice,tripID,progrnumber,stoppointid,plannedtime_arr_stop,plannedtime_dep_stop,actualtime_arr_stop,actualtime_dep_stop,new_prog,next_stop,diff_prog,diff_planned_arr_stop,diff_actual_arr_stop,diff_planned_next_stop_time,pre_stop,now_stop
518599,02-MAY-17 00:00:00,4601547,34,2016,72800,72800,72250,72260,34,4636.0,1.0,81.0,35.0,600.0,4636,2016
228466,17-FEB-16 00:00:00,2851603,69,5092,52669,52669,51964,51964,69,5091.0,1.0,68.0,41.0,600.0,5091,5092
397760,02-FEB-16 00:00:00,2824674,21,4206,81294,81294,81393,81401,21,4205.0,1.0,42.0,30.0,1200.0,4205,4206
880463,12-MAY-16 00:00:00,3027451,16,756,76856,76856,76709,76721,16,2795.0,1.0,48.0,64.0,600.0,2795,756
580912,09-JAN-17 00:00:00,4094638,9,4182,70159,70159,70059,70059,9,4181.0,1.0,69.0,46.0,600.0,4181,4182
99220,01-MAY-16 00:00:00,3031852,41,4727,55346,55346,54892,54902,41,2065.0,1.0,82.0,52.0,1403.0,2065,4727
584007,30-JAN-16 00:00:00,2790740,46,2070,28265,28265,28217,28217,46,2069.0,1.0,34.0,49.0,1200.0,2069,2070
257722,15-APR-17 00:00:00,4584679,30,4571,62976,62976,62296,62312,30,7353.0,1.0,124.0,76.0,900.0,7353,4571
1163623,05-JAN-17 00:00:00,4094600,57,777,49216,49216,48753,48753,57,776.0,1.0,43.0,27.0,775.0,776,777
451760,10-FEB-17 00:00:00,4341329,58,906,50246,50246,50622,50638,58,777.0,1.0,75.0,81.0,600.0,777,906

In [173]:
leavetimes.isnull().sum()

dayofservice                       0
tripID                             0
progrnumber                        0
stoppointid                        0
plannedtime_arr_stop               0
plannedtime_dep_stop               0
actualtime_arr_stop                0
actualtime_dep_stop                0
new_prog                           0
next_stop                      47450
diff_prog                      47450
diff_planned_arr_stop          47450
diff_actual_arr_stop           47450
diff_planned_next_stop_time    37037
pre_stop                       47450
now_stop                           0
dtype: int64

In [174]:
leavetimes = leavetimes.drop(['next_stop'],axis = 1)

# the nan here mark the first stop of the trip.

In [175]:
# Change csv file for specific route
distance = pd.read_csv("distance.csv", sep=',')
distance.head()
distance.dtypes

new_stop_id      int64
next_stopID    float64
distance       float64
dtype: object

In [176]:
distance.rename(columns={"new_stop_id":"now_stop","next_stopID":"pre_stop"},inplace=True)
distance.head()

   now_stop  pre_stop    distance
0       226       NaN         NaN
1       228     226.0  261.136188
2       229     228.0  223.789101
3       227     229.0  352.070390
4       230     227.0  229.466104

In [177]:
distance["pre_stop"] = distance["pre_stop"].astype("object")
distance["now_stop"] = distance["now_stop"].astype("object")

In [178]:
final = pd.merge(leavetimes,distance, how='left', on=['pre_stop','now_stop'])

In [179]:
final.shape

(2907523, 16)

In [180]:
leavetimes.shape

(2907523, 15)

In [181]:
final["distance"].isnull().sum()

111640

In [182]:
final = final.sort_values(['progrnumber'],ascending=True)
final['cumlativesum_distance'] = final.groupby(["tripID","dayofservice"])['distance'].transform(lambda g: g.cumsum())

In [183]:
final[(final["dayofservice"] == '26-APR-17 00:00:00')& (final["tripID"]== 4608723 )]

,dayofservice,tripID,progrnumber,stoppointid,plannedtime_arr_stop,plannedtime_dep_stop,actualtime_arr_stop,actualtime_dep_stop,new_prog,diff_prog,diff_planned_arr_stop,diff_actual_arr_stop,diff_planned_next_stop_time,pre_stop,now_stop,distance,cumlativesum_distance
1338480,26-APR-17 00:00:00,4608723,1,4320,51600,51600,51550,51550,1,NaN,NaN,NaN,309.0,NaN,4320,NaN,NaN
1345405,26-APR-17 00:00:00,4608723,2,1476,51738,51738,51647,51647,2,1.0,138.0,97.0,600.0,4320,1476,617.930328,617.930328
1350029,26-APR-17 00:00:00,4608723,3,7453,51837,51837,51719,51719,3,1.0,99.0,72.0,600.0,1476,7453,426.790508,1044.720836
1354313,26-APR-17 00:00:00,4608723,4,1478,51929,51929,51746,51759,4,1.0,92.0,27.0,600.0,7453,1478,374.878837,1419.599673
1357504,26-APR-17 00:00:00,4608723,5,1479,51992,51992,51814,51814,5,1.0,63.0,68.0,600.0,1478,1479,251.838518,1671.438192
1368524,26-APR-17 00:00:00,4608723,6,7622,52222,52222,52037,52037,6,1.0,230.0,223.0,600.0,1479,7622,534.342066,2205.780258
1376363,26-APR-17 00:00:00,4608723,7,334,52391,52391,52165,52261,7,1.0,169.0,128.0,600.0,7622,334,301.202389,2506.982647
1386927,26-APR-17 00:00:00,4608723,8,406,52614,52614,52437,52518,8,1.0,223.0,272.0,600.0,334,406,668.127801,3175.110448
1392349,26-APR-17 00:00:00,4608723,9,747,52737,52737,52638,52686,9,1.0,123.0,201.0,600.0,406,747,381.018680,3556.129128
1397350,26-APR-17 00:00:00,4608723,10,842,52834,52834,52746,52768,10,1.0,97.0,108.0,600.0,747,842,356.020785,3912.149914
1400197,26-APR-17 00:00:00,4608723,11,845,52898,52898,52803,52815,11,1.0,64.0,57.0,600.0,842,845,238.264339,4150.414253
1403871,26-APR-17 00:00:00,4608723,12,846,52977,52977,52909,52921,12,1.0,79.0,106.0,600.0,845,846,263.307193,4413.721446
1407241,26-APR-17 00:00:00,4608723,13,847,53049,53049,52958,52978,13,1.0,72.0,49.0,600.0,846,847,240.614214,4654.335660
1409858,26-APR-17 00:00:00,4608723,14,848,53107,53107,53038,53038,14,1.0,58.0,80.0,600.0,847,848,322.834692,4977.170352
1411919,26-APR-17 00:00:00,4608723,15,2795,53151,53151,53122,53136,15,1.0,44.0,84.0,600.0,848,2795,221.959984,5199.130336
1414920,26-APR-17 00:00:00,4608723,16,756,53211,53211,53171,53171,16,1.0,60.0,49.0,600.0,2795,756,341.710034,5540.840370
1417592,26-APR-17 00:00:00,4608723,17,757,53268,53268,53235,53250,17,1.0,57.0,64.0,600.0,756,757,327.024464,5867.864834
1419382,26-APR-17 00:00:00,4608723,18,758,53309,53309,53270,53270,18,1.0,41.0,35.0,600.0,757,758,200.433771,6068.298604
1424970,26-APR-17 00:00:00,4608723,19,759,53421,53421,53387,53387,19,1.0,112.0,117.0,600.0,758,759,397.301532,6465.600136
1428624,26-APR-17 00:00:00,4608723,20,760,53505,53505,53412,53596,20,1.0,84.0,25.0,600.0,759,760,292.793084,6758.393221
1430347,26-APR-17 00:00:00,4608723,21,761,53540,53540,53629,53638,21,1.0,35.0,217.0,600.0,760,761,321.822933,7080.216153
1431753,26-APR-17 00:00:00,4608723,22,762,53571,53571,53667,53677,22,1.0,31.0,38.0,600.0,761,762,279.937300,7360.153454
1434410,26-APR-17 00:00:00,4608723,23,763,53631,53631,53707,53707,23,1.0,60.0,40.0,600.0,762,763,328.330121,7688.483574
1437455,26-APR-17 00:00:00,4608723,24,2007,53699,53699,53779,53803,24,1.0,68.0,72.0,600.0,763,2007,524.587231,8213.070806
1440351,26-APR-17 00:00:00,4608723,25,2008,53762,53762,53838,53838,25,1.0,63.0,59.0,600.0,2007,2008,489.592533,8702.663339
1443108,26-APR-17 00:00:00,4608723,26,2009,53818,53818,53863,53863,26,1.0,56.0,25.0,600.0,2008,2009,334.185577,9036.848916
1446960,26-APR-17 00:00:00,4608723,27,2010,53908,53908,53896,53911,27,1.0,90.0,33.0,600.0,2009,2010,557.450251,9594.299167
1450243,26-APR-17 00:00:00,4608723,28,435,53983,53983,53981,53996,28,1.0,75.0,85.0,600.0,2010,435,330.497176,9924.796343
1452970,26-APR-17 00:00:00,4608723,29,7353,54039,54039,54025,54038,29,1.0,56.0,44.0,600.0,435,7353,314.333183,10239.129526
1457840,26-APR-17 00:00:00,4608723,30,4571,54149,54149,54158,54174,30,1.0,110.0,133.0,600.0,7353,4571,695.549834,10934.679360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488451,26-APR-17 00:00:00,4608723,41,7638,54807,54807,54756,54756,41,1.0,23.0,30.0,600.0,3129,7638,NaN,NaN
1489888,26-APR-17 00:00:00,4608723,42,3130,54841,54841,54777,54777,42,1.0,34.0,21.0,600.0,7638,3130,NaN,NaN
1491357,26-APR-17 00:00:00,4608723,43,3131,54874,54874,54801,54801,43,1.0,33.0,24.0,600.0,3130,3131,348.122105,15843.377215
1493858,26-APR-17 00:00:00,4608723,44,3132,54928,54928,54823,54823,44,1.0,54.0,22.0,600.0,3131,3132,347.562054,16190.939270
1496087,26-APR-17 00:00:00,4608723,45,3133,54974,54974,54843,54853,45,1.0,46.0,20.0,600.0,3132,3133,293.530831,16484.470101
1499714,26-APR-17 00:00:00,4608723,46,3134,55052,55052,54931,54987,46,1.0,78.0,88.0,600.0,3133,3134,510.131310,16994.601411
1502238,26-APR-17 00:00:00,4608723,47,3135,55112,55112,55026,55040,47,1.0,60.0,95.0,600.0,3134,3135,577.554367,17572.155778
1506519,26-APR-17 00:00:00,4608723,48,3136,55204,55204,55099,55099,48,1.0,92.0,73.0,600.0,3135,3136,652.386157,18224.541935
1509220,26-APR-17 00:00:00,4608723,49,3138,55263,55263,55158,55172,49,1.0,59.0,59.0,600.0,3136,3138,422.169295,18646.711230
1513690,26-APR-17 00:00:00,4608723,50,3139,55361,55361,55234,55252,50,1.0,98.0,76.0,600.0,3138,3139,522.239681,19168.950911
1515352,26-APR-17 00:00:00,4608723,51,4124,55393,55393,55281,55281,51,1.0,32.0,47.0,600.0,3139,4124,256.238736,19425.189646
1518482,26-APR-17 00:00:00,4608723,52,4125,55460,55460,55316,55316,52,1.0,67.0,35.0,600.0,4124,4125,532.424039,19957.613686
1519053,26-APR-17 00:00:00,4608723,53,4126,55474,55474,55324,55324,53,1.0,14.0,8.0,600.0,4125,4126,169.064104,20126.677790
1520612,26-APR-17 00:00:00,4608723,54,4127,55507,55507,55348,55348,54,1.0,33.0,24.0,600.0,4126,4127,405.794603,20532.472392
1521953,26-APR-17 00:00:00,4608723,55,4128,55535,55535,55366,55366,55,1.0,28.0,18.0,600.0,4127,4128,315.789651,20848.262043
1529593,26-APR-17 00:00:00,4608723,56,4129,55702,55702,55408,55448,56,1.0,167.0,42.0,600.0,4128,4129,601.216887,21449.478930
1536040,26-APR-17 00:00:00,4608723,57,4130,55842,55842,55495,55495,57,1.0,140.0,87.0,600.0,4129,4130,474.092989,21923.571918
1538993,26-APR-17 00:00:00,4608723,58,4131,55908,55908,55529,55529,58,1.0,66.0,34.0,600.0,4130,4131,165.692982,22089.264901
1544129,26-APR-17 00:00:00,4608723,59,7294,56012,56012,55616,55649,59,1.0,104.0,87.0,600.0,4131,7294,327.822531,22417.087431
1549543,26-APR-17 00:00:00,4608723,60,4132,56128,56128,55726,55785,60,1.0,116.0,110.0,600.0,7294,4132,201.019209,22618.106641
1552827,26-APR-17 00:00:00,4608723,61,4171,56194,56194,55813,55825,61,1.0,66.0,87.0,600.0,4132,4171,238.731177,22856.837818
1556813,26-APR-17 00:00:00,4608723,62,4172,56279,56279,55853,55877,62,1.0,85.0,40.0,600.0,4171,4172,257.682405,23114.520223
1560468,26-APR-17 00:00:00,4608723,63,4173,56360,56360,55922,55929,63,1.0,81.0,69.0,600.0,4172,4173,486.694017,23601.214240
1563516,26-APR-17 00:00:00,4608723,64,2962,56416,56416,55974,55989,64,1.0,56.0,52.0,600.0,4173,2962,339.870963,23941.085204
1566605,26-APR-17 00:00:00,4608723,65,2963,56482,56482,56042,56042,65,1.0,66.0,68.0,600.0,2962,2963,524.074023,24465.159227
1569558,26-APR-17 00:00:00,4608723,66,2964,56542,56542,56083,56110,66,1.0,60.0,41.0,600.0,2963,2964,389.106580,24854.265807
1574491,26-APR-17 00:00:00,4608723,67,4175,56639,56639,56201,56212,67,1.0,97.0,118.0,600.0,2964,4175,425.040271,25279.306078
1576189,26-APR-17 00:00:00,4608723,68,5091,56674,56674,56228,56228,68,1.0,35.0,27.0,600.0,4175,5091,134.906777,25414.212855
1579485,26-APR-17 00:00:00,4608723,69,5092,56735,56735,56249,56261,69,1.0,61.0,21.0,600.0,5091,5092,253.450804,25667.663658
1584646,26-APR-17 00:00:00,4608723,70,7574,56833,56833,56300,56300,70,1.0,98.0,51.0,433.0,5092,7574,404.006738,26071.670396

In [184]:
final.sample(10)

,dayofservice,tripID,progrnumber,stoppointid,plannedtime_arr_stop,plannedtime_dep_stop,actualtime_arr_stop,actualtime_dep_stop,new_prog,diff_prog,diff_planned_arr_stop,diff_actual_arr_stop,diff_planned_next_stop_time,pre_stop,now_stop,distance,cumlativesum_distance
2789487,12-JUN-16 00:00:00,3229768,53,4127,82132,82132,82676,82676,53,1.0,26.0,24.0,1200.0,4126,4127,405.794603,23375.613929
1488812,31-MAR-16 00:00:00,2896578,72,4320,54815,54815,55214,55214,72,1.0,85.0,121.0,215.0,4407,4320,509.676667,28254.723056
798702,12-MAY-17 00:00:00,4595428,10,842,40164,40164,40656,40684,10,1.0,99.0,83.0,600.0,747,842,356.020785,3912.149914
2197657,11-MAY-16 00:00:00,3028469,66,4175,67899,67899,68059,68059,66,1.0,93.0,177.0,600.0,2964,4175,425.040271,27320.778269
1327634,12-APR-17 00:00:00,4581522,52,4125,51371,51371,51908,51918,52,1.0,68.0,38.0,600.0,4124,4125,532.424039,17450.631039
2420505,16-MAY-16 00:00:00,3028470,65,7587,72335,72335,72793,72793,65,1.0,126.0,137.0,600.0,7586,7587,631.952166,25714.010444
1336196,07-JUN-16 00:00:00,3229962,40,2065,51554,51554,51578,51578,40,1.0,33.0,32.0,600.0,2064,2065,443.749730,15351.216517
2531513,16-MAR-16 00:00:00,2896582,7,4180,74780,74780,74759,74772,7,1.0,52.0,28.0,1142.0,2994,4180,321.281116,2395.316196
1588910,22-JUN-16 00:00:00,3261612,15,2795,56919,56919,56612,56612,15,1.0,47.0,46.0,600.0,848,2795,221.959984,4856.705270
2096977,07-APR-16 00:00:00,3005610,68,1443,65876,65876,65796,65821,68,1.0,179.0,369.0,300.0,325,1443,667.355100,26674.652093

In [186]:
final.to_csv("leavetimes_distance.csv",index=False)