# Get the final weather table in this jupyter notebook to make the structure more simple and clear.

In [9]:
import pandas as pd
import numpy as np
import re
import geopy
from geopy.distance import vincenty
import matplotlib.pyplot as plt

In [10]:
weather = pd.read_csv("weather.csv", sep=',')
weather.head()

            date  rain  temp  wdsp  stationid
0  1/1/2016 0:00   0.0   1.9   8.0          1
1  1/1/2016 1:00   0.0   1.6   7.0          1
2  1/1/2016 2:00   0.0   0.7   6.0          1
3  1/1/2016 3:00   0.0   0.8   6.0          1
4  1/1/2016 4:00   0.0   2.9   5.0          1

In [11]:
# Convert the data frame to timestamp
weather['date'] = pd.to_datetime(weather['date'])

In [12]:
# Convert date time to timestamp
weather['date'] = weather.date.values.astype(np.int64) // 10 ** 9
weather.dtypes

date           int64
rain         float64
temp         float64
wdsp         float64
stationid      int64
dtype: object

In [13]:
weather.head()

         date  rain  temp  wdsp  stationid
0  1451606400   0.0   1.9   8.0          1
1  1451610000   0.0   1.6   7.0          1
2  1451613600   0.0   0.7   6.0          1
3  1451617200   0.0   0.8   6.0          1
4  1451620800   0.0   2.9   5.0          1

In [15]:
weather.to_csv("weather.csv", index = False )